/* ----------------  Corps de l'IHM  ---------------------------- */

body,
html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

body {
  animation: fadeInAnimation ease 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrappert {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  height: 100%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.main-img {
  position: relative;
  left: 5%;
  height: 100%;
  width: auto;
}

img {
  position: relative;
  height: 100%;
  width: 80%;
  left: 5%;
}

a:link {
  text-decoration: none;
}
a:hover {
  color: white;
}

/* ----------------  Partie POPUPS  ---------------------------- */

/* Permet d'adapter la taille des boutons */
.button_popup {
  background: no-repeat center;
  border: none;
  cursor: pointer;
}
.button_position {
  z-index: 10;
  position: absolute;
  width: 6%;
  height: 6%;
}
.button_position_2 {
  z-index: 10;
  position: absolute;
  width: 4.85%;
  height: 4.85%;
}

/* Permet de placer les boutons */
.first_room {
  top: 47%;
  left: 30%;
}
.second-room {
  top: 45%;
  left: 59%;
}
.third-room {
  top: 45%;
  left: 82%;
}

/* Fonction permettant d'agrandir les bouton lorsque le curseur passe devant */
.agrandir {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  transition: transform 0.4s;
}

.agrandir:hover {
  transform: scale(1.5);
}

.agrandir_arrow {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  transition: transform 0.4s;
}

.agrandir_arrow:hover {
  transform: scale(1.5);
}

#popup-img {
  z-index: 100;
  position: relative;
  height: 350px;
}

.img-popup {
  z-index: 100;
  position: relative;
  width: 100%;
  height: auto;
}

.button-arrow {
  background: no-repeat center;
  border: none;
  cursor: pointer;
}

.main_img_popup {
  z-index: 1;
  position: absolute;
  width: 47.5%;
  height: 57.5%;
  opacity: 0%;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.second_img_popup {
  z-index: 10;
  position: absolute;
  top: 150px;
  left: 325px;
  width: 47.5%;
  height: 57.5%;
  opacity: 0%;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.arrow {
  z-index: 2000;
  position: absolute;
  width: 8%;
}

.first_popup {
  background: url("img/CARTE-POPUP_SOPHIA.png") no-repeat center;
  background-size: 100% 110%;
  margin: auto;
  top: 28.5%;
  left: 40%;
}

.second_popup {
  background: url("img/CARTE-POPUP_RHA.png") no-repeat center;
  background-size: 100% 110%;
  margin: auto;
  top: 33%;
  left: 18%;
}

.third_popup {
  background: url("img/CARTE-POPUP_AIXMED.png") no-repeat center;
  background-size: 100% 110%;
  margin: auto;
  top: 38%;
  left: 40%;
}

.first_mini_popup {
  z-index: 1;
  background: url("img/CARTE-POPUP_SOPHIA.png") no-repeat center;
  background-size: 100% 110%;
  margin: auto;
}

.second_mini_popup {
  z-index: 1;
  background: url("img/CARTE-POPUP_RHA.png") no-repeat center;
  background-size: 100% 110%;
  margin: auto;
}

.third_mini_popup {
  z-index: 1;
  background: url("img/CARTE-POPUP_AIXMED.png") no-repeat center;
  background-size: 100% 110%;
  margin: auto;
}

.fourth_mini_popup {
  z-index: 1;
  background: url("img/CARTE-POPUP_AIXMED.png") no-repeat center;
  background-size: 100% 110%;
  margin: auto;
}

.first_popup_first_arrow {
  top: 17%;
  left: 50%;
}

.first_popup_second_arrow {
  top: 45%;
  left: 50%;
}

.first_popup_third_arrow {
  top: 75%;
  left: 50%;
}

.second_popup_first_arrow {
  top: 20%;
  left: 50%;
}

.second_popup_second_arrow {
  top: 47%;
  left: 50%;
}

.second_popup_third_arrow {
  top: 77%;
  left: 50%;
}

.third_popup_first_arrow {
  top: 19%;
  left: 50%;
}

.third_popup_second_arrow {
  top: 45%;
  left: 50%;
}

.third_popup_third_arrow {
  top: 75%;
  left: 50%;
}

.transition_opacity {
  opacity: 100%;
  z-index: 9999;
}

/*  ------------------ Partie de gauche ---------------- */

.menu_bot {
  z-index: 5;
  position: absolute;
  width: 300px;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.menu_bot::-webkit-scrollbar {
  display: none;
}

.rectangle_presentations {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -301px;
  background: #55a0d8;
}

.presentation_text {
  position: relative;
  width: 100%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  left: 0%;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

.line {
  position: relative;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  left: 0%;
  font-size: 23px;
  color: #ffffff;
  cursor: default;
}

.transition_box {
  width: 500px;
  margin: 0 auto;
  background-color: beige;
  height: 200px;
  opacity: 0.2;
  text-align: center;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.transition_box:hover {
  opacity: 1;
}

.moved {
  transform: translate(-97%);
}

.cursor_pointer {
  cursor: pointer;
}

.exit-planning {
  cursor: pointer;
}

.first_column {
  display: inline;
}
.second_column {
  display: inline;
}
.third_column {
  display: inline;
}
.fourth_column {
  display: inline;
}
.fifth_column {
  display: inline;
}
.sixth_column {
  display: inline;
}

#planning_button {
  position: absolute;
  top: 92%;
  right: 1%;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(85, 160, 255, 1); 
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#planning_button:hover {
  background-color: rgba(85, 200, 255, 1);
}

#planning_button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#pl {
  z-index: 999;
  position: absolute;
  top: 25%;
  left: 30%;
  height: 60%;
  width: 60%;
  visibility: hidden;
}